
.mainContent {
  overflow:hidden;
}

.rageDrawerContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  width: 400px;
}

.rageDrawerTitle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.frustrationImage {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  height: 50px;
}

.rageDrawerTopBar {
  margin-bottom: 20px;
}

.topRow {
  margin-top: 10px;
  margin-left: 10px;
}

.topRowTitle {
  font-size: 20px;
}

.chartArea {
  margin-top: -10px;
  margin-left: 10px;
}

.infoIcon {
  margin-left:5px;
}

.helpButton {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.help {
  font-size: 30px;
  padding-bottom: 10px;
}

.helpMenuContentLarge {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.helpMenuContentSmall {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}


::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.siteLink {
  text-decoration: none;
  color: black;
}


.mainLaunch {
  font-size: 30px;
  margin-bottom: 2px;
}

.statePicker {
  width: 160px;
  font-size: 14px;
}

.total {
  font-weight: bold;
  margin-right: 5px;
}

.slider {
  width: 500px;
}

.sliderLarge {
  width: 700px;
}

.totalContainer {
  font-size: 14px;
}

.fromPicker {
  margin-right: 10px;
}

.fromPicker, .toPicker {
  width: 100px;
  margin-top: 15px;
}

.largeTotal {
  margin-right: 20px;
}
